@import url("https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
}

html, body {
  background: linear-gradient(174deg, #FFD370 2%, #FFD370 46%, #FFFFFF 46%, #FFFFFF 100%, #E8E8E8 100%);
  background-repeat: no-repeat;
}
@media (max-width: 520px) {
  html, body {
    max-width: 520px;
  }
}
@media (max-width: 376px) {
  html, body {
    max-width: 375px;
  }
}

.block {
  display: block;
}

.container {
  max-width: 510px;
  margin: 0 auto;
}
@media (max-width: 520px) {
  .container {
    max-width: 480px;
  }
}
@media (max-width: 376px) {
  .container {
    max-width: 375px;
    padding-left: 12px;
    padding-right: 12px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 48px;
}
@media (max-width: 376px) {
  .content {
    margin-top: 16px;
  }
}

.title {
  font-family: "Baloo Tamma 2", cursive;
  font-size: 48px;
  color: #333333;
  letter-spacing: 8.75px;
  line-height: 82px;
  text-align: center;
  margin-bottom: 26px;
}
@media (max-width: 376px) {
  .title {
    font-size: 32px;
    letter-spacing: 5.83px;
    line-height: 56px;
    margin-bottom: 2px;
  }
}

.addArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 500px;
  height: 48px;
  background-color: #FFFFFF;
  border-radius: 10px;
  padding-right: 4px;
  margin-bottom: 8px;
  overflow: hidden;
}
@media (max-width: 520px) {
  .addArea {
    max-width: 480px;
  }
}
@media (max-width: 376px) {
  .addArea {
    width: 351px;
  }
}
.addArea input.addtxt {
  width: 456px;
  height: 48px;
  border: none;
  outline: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 24px;
  padding-right: 12px;
  font-size: 16px;
  letter-spacing: 0.7px;
  line-height: 24px;
  font-family: "Noto Sans TC", sans-serif;
}
.addArea input.addtxt::-webkit-input-placeholder {
  color: #9F9A91;
}
.addArea input.addtxt::-moz-placeholder {
  color: #9F9A91;
}
.addArea input.addtxt:-ms-input-placeholder {
  color: #9F9A91;
}
.addArea input.addtxt::-ms-input-placeholder {
  color: #9F9A91;
}
.addArea input.addtxt::placeholder {
  color: #9F9A91;
}
@media (max-width: 520px) {
  .addArea input.addtxt {
    width: 330px;
  }
}
@media (max-width: 376px) {
  .addArea input.addtxt {
    width: 304px;
    padding-left: 16px;
  }
}
.addArea .addBtn {
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
  padding: 0;
  margin-top: 4px;
  margin-bottom: 4px;
  border-radius: 10px;
  overflow: hidden;
}
.addArea .addBtn .fa-plus-square {
  font-size: 40px;
}

.record-board {
  background-color: #FFFFFF;
  width: 500px;
  padding-bottom: 8px;
  border-radius: 10px;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
  overflow: hidden;
}
@media (max-width: 520px) {
  .record-board {
    width: 376px;
  }
}
@media (max-width: 376px) {
  .record-board {
    width: 351px;
    padding-bottom: 0px;
  }
}
.record-board .board-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.record-board .board-top .button {
  width: 165px;
  height: 52px;
  background-color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #EFEFEF;
  color: #9F9A91;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
}
@media (max-width: 376px) {
  .record-board .board-top .button {
    width: 117px;
  }
}
.record-board .board-top .selected {
  border-bottom: 2px solid #333333;
  color: #333333;
}
.record-board .itemList {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 8px;
}
@media (max-width: 376px) {
  .record-board .itemList {
    padding-right: 18px;
    padding-top: 0;
  }
}
.record-board .itemList li {
  margin-left: 8px;
}
@media (max-width: 376px) {
  .record-board .itemList li {
    margin-left: 0;
  }
}
.record-board .itemList li .checkArea {
  display: inline-block;
}
.record-board .itemList li .checkArea .checkBtn {
  width: 20px;
  height: 20px;
  border: 1px solid #333333;
  border-radius: 5px;
  background-color: #FFFFFF;
  cursor: pointer;
}
.record-board .itemList li .checkArea .fa-check {
  color: #FFD370;
  display: none;
}
.record-board .itemList li .decord-item {
  display: inline-block;
  width: 392px;
  font-size: 16px;
  letter-spacing: 0.62px;
  line-height: 24px;
  color: #333333;
  margin-left: 16px;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #EFEFEF;
}
@media (max-width: 520px) {
  .record-board .itemList li .decord-item {
    width: 280px;
  }
}
@media (max-width: 376px) {
  .record-board .itemList li .decord-item {
    width: 250px;
  }
}
.record-board .itemList li .fas.fa-times {
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 376px) {
  .record-board .itemList li .fas.fa-times {
    color: #333333;
  }
}
.record-board .itemList li:hover .fas.fa-times {
  color: #333333;
}
.record-board .itemList .checked .checkArea .checkBtn {
  display: none;
}
.record-board .itemList .checked .checkArea .fa-check {
  display: block;
}
.record-board .itemList .checked .complete {
  text-decoration: line-through;
  color: #333333;
  opacity: 0.3;
}
.record-board .board-buttom {
  padding-right: 23px;
  height: 68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 376px) {
  .record-board .board-buttom {
    padding-right: 0;
  }
}
.record-board .board-buttom p {
  font-size: 14px;
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #333333;
  padding: 24px;
}
@media (max-width: 376px) {
  .record-board .board-buttom p {
    letter-spacing: 0.82px;
    padding-left: 16px;
  }
}
.record-board .board-buttom button {
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 0.7px;
  line-height: 20px;
  color: #9F9A91;
  padding: 24px;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 376px) {
  .record-board .board-buttom button {
    letter-spacing: 0.82px;
    padding-right: 16px;
  }
}

.hide {
  opacity: 0;
}